
<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript">
		var log = (function log() {
			var dd = +new Date();

			return {
				oDate: function(str) {
					console.log(+new Date() - dd + (str ? " : " + str : ""));
				}
			};
		})();

		document.addEventListener("DOMContentLoaded", function(event) {
			log.oDate("DOM fullly loaded and parsed");
		});

		window.addEventListener("load", function(event) {
			log.oDate("window loaded");
		});

		function reload(url) {
			document.body.innerHTML = '';
			document.location = url;
		}


		function sleep(ms) {
			log.oDate("start sleep");
			ms += new Date().getTime();
			while(new Date() < ms) {}

			log.oDate("we are here now!");
		}

		function asleep(ms1, ms2) {
			log.oDate("start asleep");
			setTimeout(function(){
				sleep(ms1);
			}, ms2);
		}
	</script>
</head>

<body>


	<script src="/sleep?sleep=100&run=30&type=js&expires=1&last=-1&redir=0&t=31" type="text/javascript"></script>
	<script src="/sleep?sleep=40&run=30&type=js&expires=1&last=-1&redir=0&t=32" type="text/javascript"></script>
	<script src="/sleep?sleep=30&run=30&type=js&expires=1&last=-1&redir=0&t=33" type="text/javascript"></script>

	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=11" style="height: 100px;" />
	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=12" style="height: 100px;" />
	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=13" style="height: 100px;" />
	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=14" style="height: 100px;" />
	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=15" style="height: 100px;" />
	<img src="/sleep?sleep=80&type=gif&expires=1&last=-1&redir=0&t=16" style="height: 100px;" />

<!--
	<link href="/sleep?sleep=40&type=css&expires=1&last=-1&redir=0&t=21" rel="stylesheet" />
	<link href="/sleep?sleep=40&type=css&expires=1&last=-1&redir=0&t=22" rel="stylesheet" />
	<link href="/sleep?sleep=40&type=css&expires=1&last=-1&redir=0&t=23" rel="stylesheet" />
-->

	<input type="button" value="reload" onclick="reload('/block/0')" />
	<br />

	<%for(var i = 0; i<100000; i++){%>
	<p>sksksksksksksk</p>
	<%}%>


</body>
</html>