<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		var log = (function log() {
			var dd = +new Date();

			return {
				oDate: function(str) {
					console.log(+new Date() - dd + (str ? " : " + str : ""));
				}
			};
		})();

		document.addEventListener("DOMContentLoaded", function(event) {
			log.oDate("DOM fullly loaded and parsed");
		});

		window.addEventListener("load", function(event) {
			log.oDate("window loaded");
		});

		function reload(url) {
			document.body.innerHTML = '';
			document.location = url;
		}


		function sleep(ms) {
			log.oDate("start sleep");
			ms += new Date().getTime();
			while(new Date() < ms) {}

			log.oDate("we are here now!");
		}

		function asleep(ms1, ms2) {
			log.oDate("start asleep");
			setTimeout(function(){
				sleep(ms1);
			}, ms2);
		}

		var loadimga = (function(){
			var imgs = []; //{item:'', url:'', t: 'b'}
			return {
				load: function() {
					if (arguments) {
						for(var i = arguments.length-1; i >= 0; i--) {
							var item = document.getElementById(arguments[i]);
							var url = item.dataset.imageUrl;
							if (url) {
								item.src = url;
							} else {
								url = item.dataset.backgroundUrl;
								item.style.backgroundImage = 'url(' + url + ')';
							}
						}
					}
				}
			}
		})();


		var loadScriptDocWrite = function(url, onload) {
			document.write('<scr' + 'ipt src="' + url + 
						   '" type="text/javascript"></scr' + 'ipt>');
			if ( onload ) {
				// we can't tie it to the script's onload, so use window
				// thus, it doesn't fire as early as it might have
				EFWS.addHandler(window, "load", onload);
			}
		};

		var addHandler = function(elem, type, func) {
			if ( elem.addEventListener ) {
				elem.addEventListener(type, func, false);
			}
			else if ( elem.attachEvent ) {
				elem.attachEvent("on" + type, func);
			}
		};
	</script>
</head>
<body>
	<!---->
	<input type="button" value="reload" onclick="reload('/lazy/dwrite')" />
	<br />

	<script>
		addHandler(window, 'DOMContentLoaded', function(){
		var jss = ["/sleep?sleep=900&run=101&type=js&expires=1&last=-1&redir=0&t=1", "/sleep?sleep=200&run=102&type=js&expires=1&last=-1&redir=0&t=2", "/sleep?sleep=500&run=103&type=js&expires=1&last=-1&redir=0&t=3", "//code.jquery.com/jquery-1.11.1.js"];

			for(var i = 0; i<jss.length; i++) {
				loadScriptDocWrite(jss[i]);
			}
		});

	</script>

</body>
</html>

<!--
13. running document.write after window.DOMContentLoaded, page content will be overwrote (to blank)
-->
