* {padding: 0; margin: 0;}

.img1 {background: url(/sleep?sleep=300&type=gif&expires=1&last=-1&redir=0&t=901); width: 300px; height: 80px;}

.img2 {background: url(/sleep?sleep=100&type=gif&expires=1&last=-1&redir=0&t=902); width: 300px; height: 80px;}
