<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">

		function reload(url) {
			document.body.innerHTML = '';
			document.location = url;
		}

		function sleep(ms) {
			ms += new Date().getTime();
			while(new Date() < ms) {}

			console.log('we are here now!');
		}

		function asleep(ms1, ms2) {
			setTimeout(function(){
				sleep(ms1);
			}, ms2);
		}

	</script>
</head>
<body>
	<link href="/sleep?sleep=2000&type=css&expires=1&last=-1&redir=0&r=0.1" rel="stylesheet" />
	<script type="text/javascript">
		sleep(1000);
	</script>
	<link href="/sleep?sleep=2000&type=css&expires=1&last=-1&redir=0&r=0.2" rel="stylesheet" />
	<script type="text/javascript">
		sleep(1000);
	</script>
	<img src="/sleep?sleep=2000&type=gif&expires=1&last=-1&redir=0&r=0.1" style="height: 100px;" />
</body>
</html>