<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		var log = (function log() {
			var dd = +new Date();

			return {
				oDate: function(str) {
					console.log(+new Date() - dd + (str ? " : " + str : ""));
				}
			};
		})();

		function reload(url) {
			document.body.innerHTML = '';
			document.location = url;
		}


		function sleep(ms) {
			log.oDate("start sleep");
			ms += new Date().getTime();
			while(new Date() < ms) {}

			log.oDate("we are here now!");
		}

		function asleep(ms1, ms2) {
			log.oDate("start asleep");
			setTimeout(function(){
				sleep(ms1);
			}, ms2);
		}

		document.addEventListener("DOMContentLoaded", function(event) {
			//console.log(+new Date() - dd + " : DOM fullly loaded and parsed.");
			log.oDate("DOM fullly loaded and parsed");
		});

		window.addEventListener("load", function(event) {
			//console.log(+new Date() - dd + " : window loaded.");
			log.oDate("window loaded");
		});
	</script>
</head>
<body>


	<p>this is a test for bottom script block behaviro.</p>
	<p><%=+new Date()%></p>
	<input type="button" value="reload" onclick="reload('/inline/bottomblock')" />

	<link href="/sleep?sleep=1000&type=css&expires=1&last=-1&redir=0&r=0.2" rel="stylesheet" />

	<script>
		//asleep(2000,500);
	</script>

</body>
</html>
